h1 {
    color: black;
    text-align: center;
    font-family: cursive;
}


.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.btn-success {
    background-color: cadetblue;
    opacity: 0.5;
}

.btn-danger {
    background-color: orchid;
    opacity: 0.5;
}